<% layout("/layouts/boilerplate") -%>
<body>
    <div>
        <form  method="post" action="/listing">
           <input type="text" name="title" placeholder="Enter title" required><br>
           <input type="text" name="desc" placeholder="Enter Description" required><br>
           <input type="text" name="image" placeholder="Enter Image link/url" required><br>
           <input type="text" name="price" placeholder="Enter Price" required><br>
           <input type="text" name="location" placeholder="Enter Location" required><br>
           <input type="text" name="country" placeholder="Enter Country" required><br>
           <button type="submit">Submit</button>
        </form>
    </div>
</body>
