<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New-List</title>
</head>
<body>
    <div>
        <form  method="post" action="/listing">
           <input type="text" name="title" placeholder="Enter title"><br>
           <input type="text" name="desc" placeholder="Enter Description"><br>
           <input type="text" name="image" placeholder="Enter Image link/url"><br>
           <input type="text" name="price" placeholder="Enter Price"><br>
           <input type="text" name="location" placeholder="Enter Location"><br>
           <input type="text" name="country" placeholder="Enter Country"><br>
           <button type="submit">Submit</button>
        </form>
    </div>
</body>
</html>