<% layout("/layouts/boilerplate")-%>

<div class="row">
    <div class="alert alert-danger col-md-6 offset-3 mt-5" role="alert">
      <p><h2>Error : <%= err.status%></h2> <%= err.message%></p>
    </div>
</div>