body{
     font-family: "Open Sans", sans-serif !important;
     display: flex;
     flex-direction: column;
     min-height: 100vh;
}

.logo-img{
    height: 4rem;
    max-width: 3rem;
    object-fit: cover;
}

.container-fluid{
    padding : 0 6px 0 6px;
}

.brand-text{
    font-size: 1.3rem;
    letter-spacing: 1px;
}

.brand-highlight{
    color: #fe424d;  
}

.container{
    flex: 1;
    margin-bottom: 2rem;
}

.navbar{
    height: 4rem;
    background-color:white;
}

.fa-compass{
    color: #fe424d ;
    font-size: 2rem;
}

.nav-link{
    color: #222222 !important;
}

.f-info {
    display: flex;
    min-height: 6rem;
    background-color: #ebebeb ;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap : 1rem;
    flex-direction: column;
    padding: 1rem 0;
}


.f-info a:visited,.f-info a:link{
    color: black;
    text-decoration: none;
}

.f-info a:hover{
    color: blue;
    text-decoration: none;
}

.f-info .f-info-social a{
    margin-right: 1rem;
    font-size: 1.1rem;
}

.f-info-social i{
    padding-top: 0.2rem;
    margin-right: 0.4rem;
}

.f-info-links a{
    margin-right: 0.5rem;
}

.card{
    border : none !important;
    margin-bottom: 1rem;
}

.card-img-top{
    border-radius: 1rem !important;
    width : 100% !important;
    object-fit: cover !important;
    height: 20rem;
}

.card-body{
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
}


.row  a:link{
  text-decoration: none;
}



.listing-card {
  margin: 4px;
  border-radius: 1rem ;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.listing-card .card-body{
    padding: 0.8rem 0.3rem 0.5rem 0.3rem !important;
}


.listing-card:hover {
  transform: translateY(-2px); 
  box-shadow: 0 10px 25px rgba(0,0,0,0.25);
}


.img-wrapper{
    padding: 4px 4px 0 4px;
}

.card-img-overlay{
    opacity: 0;
}

.card-img-overlay:hover{
    opacity: 0.2;
    background-color: white;
}

.add-btn{
    background-color: #fe424d ;
    border: none;
}

.submit-btn{
    background-color: #fe424d ;
    border: none;
}

.row h3{
    margin-bottom: 2rem;
    padding-top: 1rem;
}


.prop-img{
    height:20rem ;
    width: 35rem !important;
    object-fit: cover !important;
}

.show-btns{
    display: flex;
    gap : 1.5rem;
}

.show-btns .edit-btn{
    background-color: #fe424d ;
    border: none;
    padding: 6px 15px 7px 12px !important;
    transition: all 0.3s ease;
}

.edit-btn:hover{
    box-shadow: 0 5px 15px #222;
    transform: translateY(-2px) ;
}

.del-btn{
    background-color: #222 !important;
    transition: all 0.3s ease;
}

.del-btn:hover{
    box-shadow: 0 5px 15px #222;
    transform: translateY(-2px);
}
